.bg {
    background-color: #1A94FF;

  }
    .navb{
        display: flex;
        flex-wrap: nowrap;
        list-style: none;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 5;
        width: 100%;
        
            
        h4{
            font-size: 18px;
        }
        .logo{
            margin-left: 25px;
        }
        .Menu{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: center;
            padding: 25px 25px 0 25px;
            align-items: flex-end;
            .top-menu{
                padding-bottom: 10px;
                ul{
                    display: flex;
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    overflow: hidden;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    align-content: center;
                    justify-content: center;
                    align-items: stretch;        
                    color: white !important;
                    li{
                        margin-right: 15px;
                        display: inline;         
                        padding: 5px  5px 0 5px; 
                        a{
                            color: #333333;
                            text-decoration: none;
                        }
                        &:hover{
                            color: #1A94FF; 
                        }
                        i{
                            padding-right: 10px;
                            color: white !important;
                        }
                        span{
                            color: white !important;
                        }
                    }
                }
    
            }
            .main-menu{       
                display: flex;  
                border-top: 1px solid #cccccc;
                ul{             
                    display: flex;
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    overflow: hidden;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    align-content: center;
                    justify-content: center;
                    align-items: stretch; 
                    li{
                        margin-right: 15px;
                        display: inline;         
                        padding: 5px  5px 0 5px; 
                        a{
                            color: #333333;
                            text-decoration: none;
                        }
                        a:hover{
                            color: #6F7BA4; 
                        }
                        h4{
                            text-transform: uppercase;
                            // font-size: 22px;
                            padding: 10px;
                            color: white;
                        }
                    }
                }
            }
        }
   
        .login{
            ul{             
                list-style-type: none;
                margin: 0;
                padding: 0;     
                overflow: hidden;  
                display: flex;
                li{
                    margin-right: 15px;
                    display: inline;         
                    padding: 5px 5px 0 5px; 
                    a{
                        color: #333333;
                        text-decoration: none;
                    }
                    a:hover{
                        color: #6F7BA4; 
                    }
                    span{
                        color: white !important;
                    }
                }
            }
        }
    }
