.background{
    
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: #e3f3f7;
    
.infoIntroduce{
    padding: 2% 2% 2% 2%;
    text-align: center;
    color: #144E78;
    width: 100%;
    .Introduce{
       font-size: 29px;
       font-weight: 700;
    }
    .line{
        width: 5rem;
        height: 2px;
        background-image: linear-gradient(to right, #cfab44, #f4d95d 60%, #cfab44);
        margin: auto;
        margin-top: 10px;
    }
}
.flex-cer{
    display: flex;
    width: 100%;
    .ah{
        img{
            padding: 5%;
            width: 100%;
            height: 100%;
            transition: 0.3s;
            display: block;
            cursor: pointer;
            &:hover{
                transform:scale(110%);
            }
        }
    }
        

    }
}