.navCate{
    display:flex;
    // position: fixed;
    box-shadow: 0 3px #ccc;
    width: 100%;
    a{
        color: #000000;
    }
}
.ListBacSi{
   .rowCate{
        
        display: block;
        padding:0px;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        align-items: flex-start;
        justify-content: flex-start;    
        border-bottom: 1px solid #ccc;
        ul{
            list-style-type: none;
            padding: 0;
            margin: 0;
        
        }
    li{
        display: block;
        overflow: hidden;
        padding: 15px;
        border-bottom: 1px solid #eee;
        position: relative;
    }
    h3{
        
        display: block;
        line-height: 1.3em;
        font-size: 16px;
        color: #333;
    }
    h4{
        color: #666;
        font-size: 13px;
        margin-top: 25px;
        margin-left: -107px;
    }
    img{
        width: 150%;
        border-radius: 50%;
    }
    a{
        text-decoration:initial;
    }
   }
   
   
}