// Admin variable
$bg-nav-bar-admin: #293042;
$bg-admin: #F7F9FC;
$color-white-primary: #fff;
$color-white-secondary: #ced4da;


.admin{
    display: flex;
    min-height: 100vh;
    transition:  0.2s;
    &-aside{
        transition:  0.2s;
        flex: 0 0 20%;
        background-color: $bg-nav-bar-admin;
        max-width: 20%;
        position: sticky;
        top: 0;
        left: 0;
        max-height: 100vh;
        color: $color-white-secondary;
    }

    &-main{
        flex: 0 0 80%;
        max-width: 80%;
        background: $bg-admin;
        min-height: 100vh;
       
    }

    &-toggle{
        transition:  0.5s;
        &>.admin-aside{
            display: none;
           
        }
        &>.admin-main{
            flex: 0 0 100% !important;
            max-width: 100% !important;
            overflow: hidden;
        }
    }

    &-content{
        transition:  0.2s;
        padding: 20px;
    }
}