.header-box{
  &>.row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    &>.col-md-6{
      .info{
        line-height: 40px;
      }
    }
  }
}
.body-box{
  &>h3{
    padding: 2% 0;
  }
}