.blog-list-widget .w-100 {
    margin-bottom: 1rem;
    display: block;
}
.news{
    margin-top: 6.3%;
}
.w-100 {
    width: 100%!important;
}
.big-meta p{
    color: #000;
}
.post-media img{-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;-webkit-transform:scale(1);
    -moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1)}
.post-media:hover img{-webkit-transform:scale(1.1);-moz-transform:scale(1.1);
    -ms-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1)}
.wb{background-color:#fff;}
.wb .hovereffect{opacity:0.1;background-color:rgba(0,0,0)}
.section{background-color:#fff}
.blog-list-widget small{color:rgba(0,0,0,0.6)!important}
.fa{font-size:21px;margin:0 0.3rem}
.breadcrumb{background-color:transparent;border-radius:0;list-style:outside none none;margin-bottom:0;text-align:right;padding:0}
.breadcrumb-item{float:none;font-size:16px;display:inline-block}
.page-link{background-color:#edeff2!important;border:0 dashed #e2e2e2;border-radius:x0;color:#a3a5a8!important;display:block;font-size:14px;line-height:1;margin-left:6px;padding:0.8rem 0.8rem;position:relative;text-transform:capitalize}
.page-link:hover,.page-link:focus{color:#111!important}
.page-item:first-child .page-link{margin-left:0;border-radius:0}g-title-area
.page-item:last-child .page-link{border-radius:0}
.page-title{padding:3rem 0;background-color:#edeff2}
.page-title small{color:#a3a5a8;display:inline-block;font-size:13px;font-style:italic;letter-spacing:1px;line-height:1;margin-bottom:0;margin-top:-1px;padding-bottom:0;padding-left:0.5rem;vertical-align:middle}
.page-title i{border-radius:40px;display:inline-block;font-size:14px;height:40px;line-height:40px;margin-right:0.3rem;margin-top:-0.4rem;text-align:center;vertical-align:middle;width:40px}
 .breadcrumb{float:none;text-align:left;padding:0;color:#a3a5a8;margin:0}
.text-center .breadcrumb{text-align:center}
 .breadcrumb-item.active, .breadcrumb-item + .breadcrumb-item::before, blog-meta small, a{color:#000000}
.last-child{margin-bottom:0!important}
 .w-100{margin-bottom:0!important;padding-bottom:0}
.pp{padding-left:5%;padding-right:5%; margin-top:4%;}
.pp .float-left{margin:0 2rem 1rem -3rem}
.pp a{font-weight:bold}
.page-wrapper .banner-spot{padding:0.4rem;background-image:none}
.banner-spot{background:#edeff2 no-repeat scroll center right / auto 100%;clear:both;display:block;
    height:auto;margin:0 auto;padding:15px;position:relative}
.banner-img img{margin:auto;text-align:center;max-width:768px;float:none;width:100%;display:block}
hr.invis   {border: 0;
margin: 1rem 0;
}
hr.invis1{border:0;margin:0.5rem 0}
hr.invis2{border:0;margin:6rem 0}
hr.invis3{border:0;margin:0}
.blog-box{
    box-shadow: 4px 4px 10px 0 rgb(0 0 0 / 20%);
    padding: 10px 0 0 0;
    border-radius: 10px;
    width: 95%;
}
.img-fluid{
    border-radius: 10px;
 }
// // kiểm tra rồi
.post-media{position:relative;overflow:hidden}
.post-media:hover span::before,.post-media:hover {visibility:visible;zoom:1;filter:alpha(opacity=100);opacity:1}
.sidebar .widget{position:relative;display:block;margin-bottom:3rem}
.sidebar .banner-spot{background-image:none;padding:5px}
.sidebar .instagram-wrapper a{width:33.3333%;margin:0;float:left;border-right:5px solid #fff;border-bottom:5px solid #fff}
.wb{background-color:#fff;border-top:1px dashed #dadada}

.search-form .form-control{border-radius:0;margin-bottom:1.4rem;border:1px solid #edeff2;font-size:12px;
    min-height:45px;text-transform:none;font-weight:400}
.search-form .form-control{margin:0;min-width:240px;border-right:0}
.search-form,.search-form ,.search-form{padding:0;border-color:#edeff2!important;height:45px;position:absolute;border-radius:0!important;background-color:#edeff2!important;right:0;color:#a3a5a8!important;width:45px;line-height:45px;margin-left:0}
.sidebar .widget ul{list-style:none;margin:0;padding:0}
.sidebar .blog-list-widget img{width:100px;padding:0}
.sidebar .blog-list-widget .mb-1{font-size:17px;left: 20px;}
.sidebar a{color:rgba(0,0,0,0.6)}
.sidebar .widget-title{display:block;font-size:18px;margin:0 0 2rem;padding:0;line-height:1}
.blog-list-widget img{background:#fff none repeat scroll 0 0;margin-right:15px;max-width:80px;padding:4px}
.blog-list-widget .list-group-item{padding:0;border:0;margin:0;background-color:transparent}
.blog-list-widget .w-100{margin-bottom:1rem;display:block}
.blog-list-widget .w-100.last-item{margin-bottom:0}
.blog-list-widget .mb-1{font-size:16px;font-weight:500;line-height:1.5;margin-bottom:0rem!important}
.blog-list-widget small{font-size:10px;font-weight:500;letter-spacing:1px;text-transform:uppercase}
.page-title i,
.widget-title{border-color:#3197d6}
.page-title span.bg-yellow,.color-yellow a{background-color:#ffb900!important}
.wb{color:rgba(255,255,255,1)!important}
.an {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;  /* số dòng hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
}
p h4{
    font-family: 'Roboto', serif;
}

.hovereffect {
    opacity: 0.1;
    background-color: rgba(0, 0, 0, 0.01);
}
.hovereffect {
    position: absolute;
    top: 0;
    opacity: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    zoom: 1;
    filter: alpha(opacity=0);
    opacity: 0.5;
    background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.1) 50%);
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.1) 50%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.1) 50%);
}

.post-media:hover .hovereffect span::before,
.post-media:hover .hovereffect {
    visibility: visible;
    zoom: 1;
    filter: alpha(opacity=100);
    opacity: 1;
}

.hovereffect span::before {
    width: 90px;
    text-align: center;
    left: 0;
    right: 0;
    top: 45%;
    margin: -2rem auto;
    visibility: hidden;
    position: absolute;
    height: 90px;
    display: block;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    zoom: 1;
    filter: alpha(opacity=0);
    opacity: 0;
}
.blog-meta samp {
    font-size: 15px;
    display: inline-block;
    margin-bottom: 0;
    padding-bottom: 0;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 0.5rem;
    margin-top: 2.5%;
}
 .blog-meta a{
    color: #111111;
 }
@media (max-width: 1156px) {
    .small-box .shadow-desc h4 {
        font-size: 14px;
    }
}

@media (max-width: 1047px) {
    .topbar-section .list-inline-item {
        padding: 0 0.2rem !important;
    }
}

@media (max-width: 989px) {
    .search-form .btn:hover,
    .search-form .btn:focus,
    .search-form .btn {
        position: relative;
    }
    .custombox .blog-list-widget,
    .custombox .blog-box {
        margin: 1rem 0;
    }
    .sidebar,
    .footer .widget {
        margin: 1.5rem 0;
    }
    .center-side,
    .left-side,
    .right-side {
        float: left;
        width: 50%;
    }
}

@media (max-width: 768px) {
    .post-sharing .btn {
        padding: 0.6rem !important;
    }
    .blog-custom-build .down-mobile,
    .blog-title-area .down-mobile {
        display: none !important;
    }
    .newsletter-widget .form-inline .form-control {
        width: 100%;
    }
    .newsletter-widget .btn {
        display: block;
        width: 100%;
        margin-top: 0.5rem;
    }
    .blog-list .blog-meta.big-meta h4 {
        background-color: #ffffff;
        margin-left: 0;
        margin-top: 1rem;
        padding: 1rem 0;
    }
}

@media (max-width: 728px) {
    .center-side,
    .left-side,
    .right-side {
        float: left;
        width: 100%;
    }
    .shadow-desc {
        bottom: 0;
        padding: 1rem 0.8rem;
        position: absolute;
    }
    .blog-meta h4 {
        font-size: 18px;
    }
}

@media (max-width: 590px) {
    .comment-list .media {
        float: none !important;
        width: 100%;
        display: block;
    }
    .blog-title-area {
        text-align: center;
    }
    .pp .float-right,
    .pp .float-left {
        width: 100%;
        margin: 1rem 0;
    }
    .blog-title-area h3 {
        font-size: 34px;
    }
    .section-title {
        margin-top: 1rem;
    }
    .small-box {
        float: none;
        width: 100%;
    }
    .topbar-section .text-right {
        text-align: center !important;
    }
    .blog-meta.big-meta h4 {
        font-size: 21px;
    }
    .top-search .newsletter-widget .form-inline .form-control {
        font-size: 16px;
    }
    .card-block {
        padding: 1rem 0.5rem;
    }
    .newsletter-widget .btn:hover,
    .newsletter-widget .btn:focus,
    .newsletter-widget .btn {
        border: 0 none !important;
        font-size: 17px !important;
        padding: 1.3rem 1rem !important;
    }
}
.sf-social__wrapper {
    padding: 13px;
    border: .5px solid #e7e7e7;
    border-radius: 15px;
}
.sf-social--header {
    margin-bottom: 16px;
}
.sf-social--header h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #f30000;
    margin: 0;
    margin-bottom: 16px;
}
.sf_right_featured--header h2 {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #fff;
    margin: 0;
}
.sf-social-icons {
    display: flex;
    justify-content: space-evenly;
}
.sf_right_featured--header {
    background: #f02c2c;
    border-radius: 15px;
    padding: 10px 18px;
    width: 250px;
    margin: 0 auto;
    margin-bottom: 15px;
    text-align: center;
}
.sf_right_featured--header h2 {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #fff;
    margin: 0;
}
.sf_right_featured--box.sf_right_featured--first-box {
    flex-wrap: wrap;
}
.sf_right_featured--box {
    /* display: flex; */
    margin-bottom: 12px;
    position: relative;
}
.sf_right_featured--first-box .sf_right_featured--box-content {
    padding: 5px 10px;
}
.sf_right_featured--first-box .sf_right_featured--box-content {
    position: absolute;
    bottom: 0;
}
.sf_right_featured--first-box .sf_right_featured--thumb-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    border-radius: 5px;
}
.sf_right_featured--first-box img {
    width: 100%;
}
.sf_right_featured--box-thumb img {
    max-width: 100%;
    min-width: 110px;
    border-radius: 5px;
}
.sf_right_featured--first-box .sf_right_featured--box-content a {
    font-size: 16px;
    line-height: 19px;
    color: #fff;
}
.sf_right_featured--box-content a {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 14px;
    line-height: 17px;
    text-align: justify;
    color: #484848;
}
.sf_right_featured--small-box .sf_right_featured--box-thumb {
    position: relative;
    min-width: 110px;
    z-index: 0;
    overflow: hidden;
    border-radius: 5px;
}
.sf_right_featured--box-thumb {
    margin-right: 10px;
}
.sf_right_featured--small-box .sf_right_featured--thumbnail-container {
    display: block;
    min-height: 62px;
    background: #f7f7f7;
    background-position: 50%;
    background-size: cover;
    z-index: 0;
}
.sf_right_featured--box {
    display: flex;
    margin-bottom: 12px;
    position: relative;
}
.sf_right_featured--box-content a {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 14px;
    line-height: 17px;
    text-align: justify;
    color: #484848;
}
