.navBarItem{
    &-dropdown{
        margin-bottom: 0;
        list-style: none;
    }

    &-head{
        position: relative;
        display: flex;
        text-decoration: none;
        padding: 10px 5px;
        align-items: center;
        justify-content: space-between;
        color: #ced4da;
        cursor: pointer;
        &:hover{
            color: white;
        }

        &>i{
            margin-right: 5px;
        }
        &[aria-expanded=true]{
            color: #fff;
        }
        &[data-bs-toggle="collapse"]::before{
            border: solid;
            border-width: 0 .1rem .1rem 0;
            content: "";
            display: inline-block;
            padding: 2px;
            position: absolute;
            right: 1.7rem;
            top: 1rem;
            right: 0;
            transform: rotate(45deg);
            transition: all .2s ease-out;
        }
        &[aria-expanded=true]::before{
            top: 1.2rem;
            transform: rotate(-135deg);
        }
    }
    &-count{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 2px 5px;
        border-radius: 5px;
        background-color: #3F80EA;
        margin-right: 5px;
        font-size: 12px;
    }

    &-dropdown{
        padding: 0;
        margin: 0;
        &-item{
            padding: 10px 5px;
            padding-left: 25px;
        }
        &-link{
            text-decoration: none;
            color: #ced4da;
        }
    }
}