.container {
    background-color: #FFFFFF;
    width: 95%;
    margin-top: 2%;
    p{
        font-weight: 700;
        padding-top: 2%;
    }
    .table{
        tbody{

            margin-bottom: 2%;
        }
    }
}