
.slick-track{
    opacity: 1; 
    width: 3290px; 
    transform: translate3d(-940px, 0px, 0px);
}
.slick-list{
    padding: 0px;
}

.slick-slide{
  width:62px;
}
.slick-dots{
  display: flex;
}
    :root body {
      overflow-x: hidden !important;
}

  li{
    display:inline-block
  }
  .clear {
    clear: both; }
  
  .clear20 {
    clear: both;
    height: 20px; }

  .clear50 {
    clear: both;
    height: 50px; }
  section {
    width: 100%; }
    section .box-section {
      width: 100%; }
      section .box-section .box-comment {
        width: 100%;
        background-color: #ecebeb;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#ecebeb), to(#fdfafa));
        background-image: -webkit-linear-gradient(#ecebeb, #fdfafa);
        background-image: -o-linear-gradient(#ecebeb, #fdfafa);
        background-image: linear-gradient(#ecebeb, #fdfafa); }
        section .box-section .box-comment .info-boxcm {
          width: 100%;
          max-width: 1000px;
          margin: auto;
          padding: 25px 0px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
          section .box-section .box-comment .info-boxcm .boxcm-1 {
            width: 100%; }
            section .box-section .box-comment .info-boxcm .boxcm-1 .logo-f {
              width: 100%;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -ms-flex-wrap: wrap;
              flex-wrap: wrap;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center; }
              section .box-section .box-comment .info-boxcm .boxcm-1 .logo-f i {
                width: 110px;
                height: 100px;
                display: block;
                background: url("./img/logo-top02.png") left no-repeat;
                background-position: 0px 1px; }
              section .box-section .box-comment .info-boxcm .boxcm-1 .logo-f h4 {
                width: calc(100% - 110px);
                color: #39bdbd;
                font-weight: 400;
                padding-left: 10px;
                -webkit-box-sizing: border-box;
                box-sizing: border-box; }
            section .box-section .box-comment .info-boxcm .boxcm-1 span {
              display: block;
              font-weight: 400;
              color: #373737; }
            section .box-section .box-comment .info-boxcm .boxcm-1 p {
              color: #373737;
              text-align: justify;
              line-height: 25px; }
      section .box-section .box-lienhe {
        width: 100%; }
          section .box-section .box-lienhe .lienhe-01 .banner-lienhe {
            width: 100%; }
            section .box-section .box-lienhe .lienhe-01 .banner-lienhe a {
              display: block; }
              section .box-section .box-lienhe .lienhe-01 .banner-lienhe a img {
                width: 100%; }
        section .box-section .box-lienhe .lienhe-02 {
          width: 100%;
          max-width: 1000px;
          margin: auto;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
          section .box-section .box-lienhe .lienhe-02 .box1-lh2 {
            width: 508px; }
            section .box-section .box-lienhe .lienhe-02 .box1-lh2 img {
              width: 100%; }
          section .box-section .box-lienhe .lienhe-02 .box2-lh2 {
            width: calc(100% - 523px);
            padding-left: 15px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box; }
            section .box-section .box-lienhe .lienhe-02 .box2-lh2 nav {
              width: 100%; }
              section .box-section .box-lienhe .lienhe-02 .box2-lh2 nav ul li {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                margin-bottom: 25px; }
                section .box-section .box-lienhe .lienhe-02 .box2-lh2 nav ul li i.icon-lh2 {
                  width: 90px;
                  height: 80px;
                  display: block;
                  background: url("./img/social-lienhe.png") left no-repeat;
                  background-position: -18px -18px;
                  display: block; }
                section .box-section .box-lienhe .lienhe-02 .box2-lh2 nav ul li .info-box2-lh2 {
                  width: calc(100% - 90px); }
                  section .box-section .box-lienhe .lienhe-02 .box2-lh2 nav ul li .info-box2-lh2 span {
                    font-size: 1.8rem;
                    color: #39bdbd;
                    font-size: 23px;
                    font-weight: 400;
                    text-align: center;
                    display: block;
                    padding-top: 11px; }
                  section .box-section .box-lienhe .lienhe-02 .box2-lh2 nav ul li .info-box2-lh2 .line-090 {
                    background: #ccc;
                    display: block;
                    height: 1px;
                    width: 100%;
                    position: relative; }
                    section .box-section .box-lienhe .lienhe-02 .box2-lh2 nav ul li .info-box2-lh2 .line-090:after {
                      content: "";
                      background: #373737;
                      height: 8px;
                      width: 8px;
                      display: block;
                      border-radius: 10px;
                      position: absolute;
                      right: 0;
                      top: 50%;
                      -webkit-transform: translateY(-50%);
                      -ms-transform: translateY(-50%);
                      transform: translateY(-50%); }
                  section .box-section .box-lienhe .lienhe-02 .box2-lh2 nav ul li .info-box2-lh2 p {
                    padding: 0px 5px;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    text-align: center;
                    line-height: 20px;
                    font-size: 15px;
                    color: #373737; }
        section .box-section .box-lienhe .lienhe-03 {
          width: 100%; }
          section .box-section .box-lienhe .lienhe-03 a {
            display: block; }
            section .box-section .box-lienhe .lienhe-03 a img {
              width: 100%; }
       
        section .box-section .box-lienhe .lienhe-05 {
          width: 100%;
          background: #ebebea;
          margin: auto;
          padding: 30px 0px 0 0; }
          section .box-section .box-lienhe .lienhe-05 .tieude-pklh {
            color: #373737;
            font-weight: 400;
            display: block;
            text-align: center;
            font-size: 2.8rem;
            position: relative; }
            section .box-section .box-lienhe .lienhe-05 .tieude-pklh strong {
              color: #39bdbd;
              display: block;
              font-weight: 400; }
            section .box-section .box-lienhe .lienhe-05 .tieude-pklh:after {
              content: "";
              display: block;
              width: 209px;
              height: 1px;
              background: #ccc;
              text-align: center;
              left: 0;
              right: 0;
              margin: 10px auto; }
          section .box-section .box-lienhe .lienhe-05 nav {
            width: 100%;
            max-width: 1020px;
            margin: auto; }
            section .box-section .box-lienhe .lienhe-05 nav ul {
              width: 100%;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
              section .box-section .box-lienhe .lienhe-05 nav ul li {
                width: calc(100% / 3 - 20px);
                margin: .5rem 10px;
                height: 110px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap; }
                section .box-section .box-lienhe .lienhe-05 nav ul li span {
                  width: 110px;
                  height: 100%;
                  background: #fff;
                  border-style: dotted;
                  border-width: 2px;
                  border-color: #39bdbd;
                  -webkit-box-sizing: border-box;
                  box-sizing: border-box;
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-box-pack: center;
                  -ms-flex-pack: center;
                  justify-content: center;
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  align-items: center; }
                  section .box-section .box-lienhe .lienhe-05 nav ul li span i {
                    width: 38px;
                    height: 76px;
                    display: block;
                    background: url("./img/social-phuongphap.png") left no-repeat;
                    background-position: -13px -10px; }
                section .box-section .box-lienhe .lienhe-05 nav ul li .info-li-pp {
                  width: calc(100% - 112px);
                  background: #39bdbd;
                  margin-left: 1px;
                  background: #39bdbd;
                  padding: 8px;
                  -webkit-box-sizing: border-box;
                  box-sizing: border-box;
                  position: relative; }
                  section .box-section .box-lienhe .lienhe-05 nav ul li .info-li-pp label {
                    color: #fff;
                    font-size: 17px;
                    display: block;
                    font-weight: bold;
                    font-weight: 400;}
                  section .box-section .box-lienhe .lienhe-05 nav ul li .info-li-pp p {
                    padding-top: 2px;
                    font-size: 11px;
                    color: #fff; }
                  section .box-section .box-lienhe .lienhe-05 nav ul li .info-li-pp a {
                    width: 55px;
                    margin-top: 3px;
                    padding: 3px 10px;
                    display: block;
                    position: absolute;
                    font-size: 13px;
                    bottom: 10px;
                    right: 10px;
                    background: #ed1c24;
                    color: #fff;
                    text-align: center;
                    font-weight: bold; }
                  section .box-section .box-lienhe .lienhe-05 nav ul li .info-li-pp strong {
                    color: #ed1c24;
                    text-align: center;
                    display: block;
                    font-size: 2.8rem;
                    font-weight: 400;
                    text-shadow: 2px 2px 0 #fff, -2px -2px 0 #fff,   2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff; }
                
          section .box-section .box-lienhe .lienhe-05 a.hinhtv-001 {
            display: block;
            position: relative;
            top: 10px; }
            section .box-section .box-lienhe .lienhe-05 a.hinhtv-001 img {
              width: 100%; }
        section .box-section .box-lienhe .lienhe-06 {
          width: 100%;
          max-width: 1000px;
          margin: auto; }
          section .box-section .box-lienhe .lienhe-06 span {
            color: #39bdbd;
            font-weight: 400;
            display: block;
            text-align: center;
            font-size: 2.8rem;
            position: relative;
            padding: 7px 0px; }
            section .box-section .box-lienhe .lienhe-06 span:before {
              content: "";
              width: 350px;
              height: 1px;
              background: rgba(225, 225, 225, 0.8);
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              margin: auto;
              display: block; }
          section .box-section .box-lienhe .lienhe-06 a img {
            display: block;
            left: 0;
            right: 0;
            margin: auto; }
        section .box-section .box-lienhe .lienhe-07 {
          width: 100%;
          max-width: 1030px;
          margin: auto; }
          section .box-section .box-lienhe .lienhe-07 .tieude-pklh {
            color: #373737;
            font-weight: 400;
            display: block;
            text-align: center;
            font-size: 2.8rem;
            position: relative; }
            section .box-section .box-lienhe .lienhe-07 .tieude-pklh strong {
              color: #39bdbd;
              display: block;
              font-weight: 400; }
            section .box-section .box-lienhe .lienhe-07 .tieude-pklh:after {
              content: "";
              display: block;
              width: 209px;
              height: 1px;
              background: #ccc;
              text-align: center;
              left: 0;
              right: 0;
              margin: 10px auto; }
          section .box-section .box-lienhe .lienhe-07 #chiphi {
            width: 100%; }
            section .box-section .box-lienhe .lienhe-07 #chiphi ul {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
              section .box-section .box-lienhe .lienhe-07 #chiphi ul li {
                width: calc(100% / 3 - 30px);
                margin: 10px 15px; }
                section .box-section .box-lienhe .lienhe-07 #chiphi ul li span {
                  left: 0;
                  right: 0;
                  margin: auto;
                  display: block;
                  width: 100px;
                  height: 100px;
                  background: #39bdbd;
                  border-radius: 100px;
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-box-pack: center;
                  -ms-flex-pack: center;
                  justify-content: center;
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  align-items: center;
                  position: relative;
                  z-index: 100; }
                  section .box-section .box-lienhe .lienhe-07 nav#chiphi ul li span label {
                    font-size: 5rem;
                    color: #fff;
                    font-weight: 400;
                    display: block; }
                section .box-section .box-lienhe .lienhe-07 nav#chiphi ul li .info-lienhe07 {
                  background: #dfdfdf;
                  padding: 35px 10px 10px 10px;
                  -webkit-box-sizing: border-box;
                  box-sizing: border-box;
                  position: relative;
                  top: -20px;
                  height: 165px; }
                  section .box-section .box-lienhe .lienhe-07 nav#chiphi ul li .info-lienhe07 p {
                    line-height: 20px;
                    color: #373737;
                    font-size: 17px;
                    text-align: center; }
          section .box-section .box-lienhe .lienhe-07 strong {
            text-align: center;
            font-size: 2rem;
            color: #39bdbd;
            display: block;
            font-weight: 400;}
          section .box-section .box-lienhe .lienhe-07 #tuvan-ct {
            width: 100%; }
            section .box-section .box-lienhe .lienhe-07 #tuvan-ct ul {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
              section .box-section .box-lienhe .lienhe-07 #tuvan-ct ul li {
                width: calc(100% /3 - 30px);
                margin: 10px 15px; }
                section .box-section .box-lienhe .lienhe-07 #tuvan-ct ul li i {
                  width: 315px;
                  height: 272px;
                  display: block;
                  background: url("./img/lienhe_18.png") left no-repeat;
                  background-position: -6px 0px; }
                section .box-section .box-lienhe .lienhe-07 #tuvan-ct ul li span {
                  padding: 14px;
                  -webkit-box-sizing: border-box;
                  box-sizing: border-box;
                  height: 70px;
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;
                  line-height: 20px;
                  -webkit-box-pack: center;
                  -ms-flex-pack: center;
                  justify-content: center;
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  align-items: center;
                  background: #39bdbd;
                  color: #fff;
                  font-weight: bold;
                  text-align: center;
                  font-size: 16px; }
                section .box-section .box-lienhe .lienhe-07 nav#tuvan-ct ul li:nth-child(2) i {
                  background-position: -344px 0px; }
                section .box-section .box-lienhe .lienhe-07 nav#tuvan-ct ul li:last-child i {
                  background-position: -682px 0px; }
        section .box-section .box-lienhe .lienhe-08 {
          width: 100%;
          max-width: 1010px;
          margin: auto; }
          section .box-section .box-lienhe .lienhe-08 .tieude-pklh {
            color: #373737;
            font-weight: 400;
            display: block;
            text-align: center;
            font-size: 2.8rem;
            position: relative; }
            section .box-section .box-lienhe .lienhe-08 .tieude-pklh strong {
              color: #39bdbd;
              display: block;
              font-weight: 400; }
            section .box-section .box-lienhe .lienhe-08 .tieude-pklh:after {
              content: "";
              display: block;
              width: 209px;
              height: 1px;
              background: #ccc;
              text-align: center;
              left: 0;
              right: 0;
              margin: 10px auto; }
          section .box-section .box-lienhe .lienhe-08 .box-hinh-mt {
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
            section .box-section .box-lienhe .lienhe-08 .box-hinh-mt .hinh-mt-1 {
              width: calc(100% / 3 - 20px);
              margin: 10px; }
  